<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <form action="/create" method="POST" enctype="multipart/form-data">
        <div>
            <label for="lugar">Lugar: </label>
            <input type="text" name="lugar" id="lugar" placeholder="Ingresa el lugar" required>
        </div>

        <br>
       
        <div>
            <label for="imagen">Imagen: </label>
            <input type="file" name="imagen" id="imagen" required>
        </div>
     
        <br>

        <div>
            <label for="descripcion">descripcion: </label>
            <input type="text" name="descripcion" id="descripcion" placeholder="Decribilo" required>
        </div>

        <br>

        <div>
            <label for="precio">Precio: </label>
            <input type="number" name="precio" id="precio" placeholder="Ingresa el Precio" required>
        </div>

        <br>

        <div>
            <label for="millasacumulables">Millas acumulables: </label>
            <input type="number" name="millasacumulables" id="millasacumulables" placeholder="Ingresa millas a ganar" required>
        </div>

        <br>

        <div>
            <button type="submit" value="guardar producto">Crear Destino</button>
        </div>

    </form>
    <div>
        <a href="/">Volver a Home de destinos</a>
    </div>
 
</body>
</html> 
