<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envarque</title>
    <link rel="stylesheet" href="/css/formularioenvarque.css">
</head>
<body>
    
<main>

    <h1>Subida de datos al panel de Envarcacion</h1>

    <form  method="post">
    
        <label for="hora">Hora: </label>
        <input type="time" name="hora">
    
        <label for="aerolinea"> Aerolinea: </label>
        <input type="text" name="aerolineas">
    
        <label for="destinos"> Destino: </label>
        <input type="text" name="destinos">
    
        <label for="vuelo"> Vuelo: </label>
        <input type="text" name="vuelo">
    
        <label for="puerta"> Puerta: </label>
        <input type="text" name="puerta">
    
        <label for="observaciones"> Obserbaciones: </label>
        <input type="text" name="observaciones">
    
        <input type="submit" value="Enviar">
    
    </form>
 
</main>


</body>
</html>