<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ViajaraalMundo</title>
    <link rel="stylesheet" href="/css/navhom.css">
    <script defer src="/javascrip/navh.js"></script>
</head>
<body>

 <header class="header">
   <nav class="nav">
     <a href="" class="logo nav-link"><img src="/imagenes/avioicon.ico" class="logoavion">ViajarporMundo</a>
     <button class="nav-toggle" aria-label="Abrir menú">    <!--la amurguesa va en midia cueri-->
       <div >
          <img class="icono-celular" src="/imagenes/avion.ico">
       </div>
     </button>
     <ul class="nav-menu">
        <li class="nav-menu-item">
          <a href="" class="nav-menu-link nav-link" target="_blank">Mi viaje</a>
        </li>
        <li class="nav-menu-item">
          <a href="" class="nav-menu-link nav-link" target="_blank">Destinos</a>
        </li>
        <li class="nav-menu-item">
          <a href="/views/informacion.ejs" class="nav-menu-link nav-link" target="_blank">Informacion</a>
        </li>
        <li class="nav-menu-item">
          <a href="" class="nav-menu-link nav-link" target="_blank">Check in</a>
        </li>
     </ul>
   </nav>   
 </header>
</body>
</html>