<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/destinos.css">
    <title>Destino</title>
</head>
<body>

    <main>

        <iframe id="narvar" src="/views/Navhome.html"frameborder="0"></iframe>

        <br><br><br><br>
     <h1>Conoce el mundo con nosotros</h1>

     <img class="conexion" src="/public/imagenes/conexion.avif">

     <ul class="producto-lista">

            <li>  
               <img src="/public/imagenes/salta.jpeg"/>
                 <h2>Salta</h2>
                 <div class="item"><h3>Descripcion:</h3> <p>Hermosa provincia,llena de colores y cultura.</p></div>
                 <div class="item"><h3>Precio:</h3> <p>$56.000</p> </div>
                 <div class="item"><h3>Millas a Cumular:</h3> <p>30.000</p></div>
         
           </li>

           <li>  
              <img src="/public/imagenes/chile.jpg"/>
              <h2>Chile</h2>
              <div class="item"><h3>Descripcion:</h3> <p>Un país lleno de historia,cultuas y paisajes de sueños.</p></div>
              <div class="item"><h3>Precio:</h3> <p>$70.000</p> </div>
              <div class="item"><h3>Millas a Cumular:</h3> <p>38.000</p></div>

            </li>

            <li>  
               <img src="/public/imagenes/dubai.jpeg"/>
                <h2>Dubai</h2>
                <div class="item"><h3>Descripcion:</h3> <p>Un gran país, con una rica cultura,yeno de cibilisacion</p></div>
                <div class="item"><h3>Precio:</h3> <p>$240.000</p> </div>
                <div class="item"><h3>Millas a Cumular:</h3> <p>80.000</p></div>
   
            </li>

            <li>  
                <img src="/public/imagenes/Italia.jpg"/>
                  <h2>Italia</h2>
                  <div class="item"><h3>Descripcion:</h3> <p>Italia es un país que se entiende, que se vive y que se siente. Recorrer la tierra de la dolce vita es entrar en una postal de contrastes, donde la historia y la modernidad conviven con una naturalidad asombrosa.</p></div>
                  <div class="item"><h3>Precio:</h3> <p>$1230.000</p> </div>
                  <div class="item"><h3>Millas a Cumular:</h3> <p>300.000</p></div>

            </li>
             
            <li>  
                <img src="/public/imagenes/1743343509921-Bahamas.jpg"/>
                <h2>Barbados</h2>
                <div class="item"><h3>Descripcion:</h3> <p>Un lugar agradable,lleno de calor y amabilidad con los turistas. Llenate el alma con sú musica y sus paisajes</p></div>
                <div class="item"><h3>Precio:</h3> <p>$500.000</p> </div>
                <div class="item"><h3>Millas a Cumular:</h3> <p>700.000</p></div>

            </li>
  

        <button><a class="crear" href="http://localhost:3000/" >Crear Producto</a></button>
        
    </ul> 

    <iframe id="pie" src="/views/piedepagina.html"frameborder="0"></iframe>  

 </main>


</body>
</html>