<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/public/css/galeria.css">
</head>
<body>

  <main>

    <iframe id="narvar" src="/views/Navhome.html"frameborder="0"></iframe>  

    <br><br><br>

    <img id="volar" src="/public/imagenes/galeria/vuela.gif">

   <audio controls autoplay loop src="/public/imagenes/galeria/yt1z.net - Spirited Away OST「Always With Me Itsumo Nando Demo」Ru s Piano Cover Sheet Music (320 KBps).mp3"></audio>


    <div class="container">

      <div class="row">
        <div class=" columna">
          <div>
            <img src="/public/imagenes/galeria/paris.jpg" alt="Destino 1" class="imagen">
          </div>
          <div class="parrafo">
            <h1>París</h1>
            <p>El primer lugar que hay que visitar es la Plaza de Trocadero, para tener las mejores vistas de la Torre Eiffel,
              la Torre Eiffel fue creada para la Exposición Universal de París del año 1889 es el símbolo más importante.
              El Louvre, el museo más famoso y visitado del mundo, se encuentran algunas de las obras maestras más importantes de la historia como La Gioconda de Leonardo da Vinci, la Venus de Milo o el Escriba Sentado del antiguo Egipto.
              El Arco de Triunfo, construido entre 1806 y 1836 por Napoleón para recordar su gran victoria en la batalla de Austerlitz, es el más famoso del mundo y otros de los lugares turísticos que ver en París.

            </p>
          </div>
        </div>
        <div class="  columna">
          <div>
            <img src="/public/imagenes/galeria/Roma.jpg" alt="Destino 2" class="imagen">
          </div>
          <div class="parrafo">
            <h1>Roma</h1>
            <p>Roma es una ciudad llena de museos, plazas, edificios romanos y otros lugares destacados. 
              La atracción número uno de Roma es el Coliseo Romano, un enorme anfiteatro que en la época romana tenía capacidad para 65.000 espectadores. 
            </p> 
            <p>
              En las inmensas ruinas del Coliseo, podrás visitar las gradas, la arena en sí y las zonas subterráneas de este mayor anfiteatro de la época romana.
              La "Fontana di Trevi" es la fuente más famosa de Roma, y quizás del mundo.
              El Forum Romanum era el centro del antiguo Imperio Romano. Durante tu visita al Foro Romano podrás pasear por el parque arqueológico donde apreciarás las excavaciones de templos antiguos
            </p>
          </div>
        </div>
        <div class=" columna">
          <div>
            <img src="/public/imagenes/galeria/barcelona.webp" alt="Destino 3" class="imagen">
          </div>
          <div class="parrafo">
            <h1>Barcelona</h1>
            <p>Barcelona, ​​la cautivadora capital de Cataluña, cuenta con una historia rica y compleja que se extiende por más de 2.000 años. Desde sus humildes comienzos como asentamiento romano hasta su ascenso como centro global de cultura y diseño, Barcelona ha sido testigo del flujo y reflujo de los imperios, el florecimiento de las artes y la arquitectura, y la resiliencia del espíritu humano. Hoy en día, Barcelona se erige como una metrópolis vibrante, que combina a la perfección su herencia antigua con la innovación moderna y una identidad catalana única.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class=" columna">
          <div>
            <img src="/public/imagenes/galeria/nueva-york.jpg" class="imagen">
          </div>
          <div class="parrafo">
            <h1>Nueva York</h1>
            <p>Una de las cosas que tienes que hacer en Nueva York sí o sí es perderte por Central Park,
                el parque más querido por sus habitantes y un oasis espectacular en mitad de la jungla de asfalto.
                Sube a la Estatua de la Libertad y difruta de unas vistas preciosas del Distrito Financiero y rascacielos como el One World.
                Una de las calles más importantes de ciudad es el time square.
                Visita un museo: El Met, el MoMa o el Museo de Historia Natural son auténticos tesoros de Nueva York </p>
          </div>
        </div>
        <div class=" columna">
          <div>
            <img src="/public/imagenes/galeria/tokio.jpg" class="imagen">
          </div>
          <div class="parrafo">
            <h1>Tokio</h1>
            <p>Tokio es una ciudad placentera que combina lujo con elementos tradicionales, que la convierten en uno de los atractivos más visitados de Japón y del continente asiático.
                Uno de los primeros lugares a visitar en Tokio es La residencia oficial del Emperador,El Palacio Imperial se levanta en una tierra donde está el Castillo de Edo o Castillo de Chiyoda, la primera fortaleza construida por órdenes del señor feudal, Ota Doka. Desde allí comenzó a crecer la ciudad. 
            </p>
            <p>
              En el Distrito de Ginza está asentado desde hace siglos el centro más importante del comercio de Tokio.
              El templo que sin dudas tendras que conocer es Asakusa y el Templo de Senso-Ji,es el más popular de Tokio dedicado a la diosa budista de la compasión: Kannon. 
            </p>
          </div>
        </div>
        <div class=" columna">
          <div>
            <img src="/public/imagenes/galeria/londres.jpg" alt="Destino 6" class="imagen">
          </div>
          <div class="parrafo">
            <h1>Londres</h1>
            <p>Londres es una ciudad conocida por sus famosos distritos, monumentos históricos y hoteles.Es el resultado del crecimiento de dos ciudades, la originaria Ciudad de Londres y la Ciudad de Westmister.
              Es la capital de Inglaterra y del Reino Unido. Situada a orillas del río Támesis, cuenta con más de dos mil años de historia desde que fue fundada por los romanos. 
              Su población está formada por una amplia variedad  de culturas, etnias y religiones que dan lugar a más de ocho millones de habitantes. La red de transporte público es una de las más extensas del mundo y el aeropuerto de Heathrow es el de mayor tráfico internacional por volumen de pasajeros en Europa.</p>
          </div>
        </div>
      </div>
    </div>

    <video  class="tren" loop autoplay>
      <source src="/public/imagenes/galeria/trenagua.mp4" type="video/mp4">
    </video>

    <div class="container">

      <div class="row">
        <div class=" columna">
          <div>
            <img src="/public/imagenes/salta.jpeg" class="imagen">
          </div>
          <div class="parrafo">
            <h1>Salta</h1>
            <p>La provincia de Salta se encuentra al Noroeste de Argentina y limita con Chile, Bolivia y Paraguay y con seis provincias argentinas.
              Salta se caracteriza por su heterogeneidad geográfica y climática, ya que abarca desde el frío desértico de los Andes y la Puna hasta el calor tropical de la selva, pasando por fértiles valles, montañas y ríos. 
              Desde el punto de vista histórico y cultural Salta ofrece una enorme riqueza. Posee ruinas incaicas y preincaicas, parte del antiguo Camino del Inca "Qhapaq Ñan" atraviesa el actual territorio salteño.
              Salta propone aventura, con sus cerros "nevados" imponentes, donde se realizan variadas actividades de montaña, expediciones a caballo; pesca, rafting y canotaje en su ríos, windsurf en sus embalses, trekking en los Parques Nacionales y hasta sandboard en las dunas de Cafayate, en los Valles Calchaquíes.
              Vista de Salta desde el Cerro San Bernardo Vista de Salta desde el Cerro San Bernardo.
          </div>
        </div>
        <div class="  columna">
          <div>
            <img src="/public/imagenes/chile.jpg" class="imagen">
          </div>
          <div class="parrafo">
            <h1>Chile</h1>
            <p>Chile es un país ubicado en América del Sur, conocido por su impresionante paisaje natural que incluye desiertos, volcanes, lagos y glaciares. Se extiende a lo largo de la costa occidental de América del Sur, limitando al norte con Perú, al este con Bolivia y Argentina, y al oeste con el Océano Pacífico.
              Es conocido por ser el hogar de la misteriosa Isla de Pascua, famosa por sus estatuas de piedra llamadas Moai, y el desierto de Atacama, uno de los lugares más secos del mundo. Además, Chile es el hogar de cinco sitios declarados Patrimonio de la Humanidad por la UNESCO.
              El territorio chileno se caracteriza por su gran diversidad geográfica,La cordillera de los Andes, que recorre el país de norte a sur, es una de las principales características geográficas de Chile.
            </p>
          </div>
        </div>
        <div class=" columna">
          <div>
            <img src="/public/imagenes/avion/jujuy.jpg" class="imagen">
          </div>
          <div class="parrafo">
            <h1>jujuy</h1>
            <p>Jujuy es un paraíso de contrastes, donde la naturaleza y la historia se combinan en cada rincón. Desde la imponencia de sus montañas hasta la tranquilidad de sus valles, recorrer sus paisajes es una experiencia única.
              Se trata de Patrimonio de la Humanidad por la UNESCO, es el corazón turístico de Jujuy. A lo largo de sus 150 km de extensión, alberga pueblos históricos como Purmamarca, Tilcara y Humahuaca, rodeados de cerros multicolores y paisajes que parecen pintados a mano.
              El principal lugar a visitar es Cerro de los Siete Colores se trata de uno de los lugares más fotografiados de Argentina. Se encuentra en Purmamarca, a solo 3 km de la Ruta 9. Su variedad de tonos rojizos, amarillos y violetas se debe a la erosión y la acumulación de minerales durante millones de años.
            </p>
          </div>
        </div>
        <div class=" columna">
          <div>
            <img src="/public/imagenes/galeria/catamarca.jpg" class="imagen">
          </div>
          <div class="parrafo">
            <h1>Catamarca</h1>
            <p>Catamarca cuenta con varios sitios arqueológicos, como el parque arqueológico Los Cardones, el parque arqueológico La Cueva de Los Manos, el museo arqueológico Los Menhires y el yacimiento arqueológico Los Sillares. Estos lugares ofrecen la oportunidad de conocer la cultura local y su pasado.
              se caracteriza por los paisajes increíbles que puedes disfrutar en el camino. Formaciones rocosas de diferentes colores se mezclan con salares y lagunas, y los animales autóctonos como vicuñas, flamencos y llamas acompañan el recorrido. Además, podrás admirar los picos más altos de la Cordillera de los Andes, como los montes Ojos del Salado, Pissis, Incahuasi y Tres Cruces, que superan los 6000 metros de altura.
            </p>
          </div>
        </div>
      </div>

    </div>

  </main>

  <iframe id="pie" src="/views/piedepagina.html"frameborder="0"></iframe>  
    
</body>
</html>