<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/public/css/galeria.css">
</head>
<body>

  <main>

    <iframe id="narvar" src="/views/Navhome.html"frameborder="0"></iframe>  

    <br><br><br>

    <img id="volar" src="/public/imagenes/galeria/vuela.gif">

   <audio loop autoplay controls src="/public/imagenes/galeria/yt1z.net - Spirited Away OST「Always With Me Itsumo Nando Demo」Ru s Piano Cover Sheet Music (320 KBps).mp3"></audio>


    <div class="container">

      <div class="row">
        <div class=" columna">
          <div>
            <img src="/public/imagenes/galeria/paris.jpg" alt="Destino 1" class="imagen">
          </div>
          <div class="parrafo">
            <h1>París</h1>
            <p>El primer lugar que hay que visitar es la Plaza de Trocadero, para tener las mejores vistas de la Torre Eiffel,
              la Torre Eiffel fue creada para la Exposición Universal de París del año 1889 es el símbolo más importante.
              El Louvre, el museo más famoso y visitado del mundo, se encuentran algunas de las obras maestras más importantes de la historia como La Gioconda de Leonardo da Vinci, la Venus de Milo o el Escriba Sentado del antiguo Egipto.
              El Arco de Triunfo, construido entre 1806 y 1836 por Napoleón para recordar su gran victoria en la batalla de Austerlitz, es el más famoso del mundo y otros de los lugares turísticos que ver en París.

            </p>
          </div>
        </div>
        <div class="  columna">
          <div>
            <img src="/public/imagenes/galeria/Roma.jpg" alt="Destino 2" class="imagen">
          </div>
          <div class="parrafo">
            <h1>Roma</h1>
            <p>Roma es una ciudad llena de museos, plazas, edificios romanos y otros lugares destacados. 
              La atracción número uno de Roma es el Coliseo Romano, un enorme anfiteatro que en la época romana tenía capacidad para 65.000 espectadores. 
            </p> 
            <p>
              En las inmensas ruinas del Coliseo, podrás visitar las gradas, la arena en sí y las zonas subterráneas de este mayor anfiteatro de la época romana.
              La "Fontana di Trevi" es la fuente más famosa de Roma, y quizás del mundo.
              El Forum Romanum era el centro del antiguo Imperio Romano. Durante tu visita al Foro Romano podrás pasear por el parque arqueológico donde apreciarás las excavaciones de templos antiguos
            </p>
          </div>
        </div>
        <div class=" columna">
          <div>
            <img src="/public/imagenes/galeria/barcelona.webp" alt="Destino 3" class="imagen">
          </div>
          <div class="parrafo">
            <h1>Barcelona</h1>
            <p>Barcelona, la ciudad condal. Un lugar vibrante y cultural que ofrece una mezcla perfecta de modernidad y tradición.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class=" columna">
          <div>
            <img src="/public/imagenes/galeria/nueva-york.jpg" class="imagen">
          </div>
          <div class="parrafo">
            <h1>Nueva York</h1>
            <p>Una de las cosas que tienes que hacer en Nueva York sí o sí es perderte por Central Park,
                el parque más querido por sus habitantes y un oasis espectacular en mitad de la jungla de asfalto.
                Sube a la Estatua de la Libertad y difruta de unas vistas preciosas del Distrito Financiero y rascacielos como el One World.
                Una de las calles más importantes de ciudad es el time square.
                Visita un museo: El Met, el MoMa o el Museo de Historia Natural son auténticos tesoros de Nueva York </p>
          </div>
        </div>
        <div class=" columna">
          <div>
            <img src="/public/imagenes/galeria/tokio.jpg" class="imagen">
          </div>
          <div class="parrafo">
            <h1>Tokio</h1>
            <p>Tokio es una ciudad placentera que combina lujo con elementos tradicionales, que la convierten en uno de los atractivos más visitados de Japón y del continente asiático.
                Uno de los primeros lugares a visitar en Tokio es La residencia oficial del Emperador,El Palacio Imperial se levanta en una tierra donde está el Castillo de Edo o Castillo de Chiyoda, la primera fortaleza construida por órdenes del señor feudal, Ota Doka. Desde allí comenzó a crecer la ciudad. 
            </p>
            <p>
              En el Distrito de Ginza está asentado desde hace siglos el centro más importante del comercio de Tokio.
              El templo que sin dudas tendras que conocer es Asakusa y el Templo de Senso-Ji,es el más popular de Tokio dedicado a la diosa budista de la compasión: Kannon. 
            </p>
          </div>
        </div>
        <div class=" columna">
          <div>
            <img src="/public/imagenes/galeria/londres.jpg" alt="Destino 6" class="imagen">
          </div>
          <div class="parrafo">
            <h1>Londres</h1>
            <p>Londres es una ciudad conocida por sus famosos distritos, monumentos históricos y hoteles.Es el resultado del crecimiento de dos ciudades, la originaria Ciudad de Londres y la Ciudad de Westmister.
              Es la capital de Inglaterra y del Reino Unido. Situada a orillas del río Támesis, cuenta con más de dos mil años de historia desde que fue fundada por los romanos. 
              Su población está formada por una amplia variedad  de culturas, etnias y religiones que dan lugar a más de ocho millones de habitantes. La red de transporte público es una de las más extensas del mundo y el aeropuerto de Heathrow es el de mayor tráfico internacional por volumen de pasajeros en Europa.</p>
          </div>
        </div>
      </div>
    </div>

    <video  class="tren" autoplay loop>
      <source src="/public/imagenes/galeria/trenagua.mp4" type="video/mp4">
    </video>

  </main>

  <iframe id="pie" src="/views/piedepagina.html"frameborder="0"></iframe>  
    
</body>
</html>