<!DOCTYPE html>
<html lan="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/imagenes/avioicon.ico" type="image/x-icon"/>
    <title>ViajarporMundo</title>
</head>
<body>
<main>

  <%- include('./partials/Navhome.ejs') %>  

 <br><br> <br><br>

  <section> <!-- formulario viaje -->

    <form class="fonlis2">
      <li class="item"><img class="icon" src="../imagenes/home/aviondespe.ico"><input type="text" placeholder="Ingresa en"></li>
      <li class="item"><img class="icon" src="../imagenes/home/avionllegando.ico"><input type="text" placeholder="Voy a"></li>
      <li class="item"><img class="icon" src="../imagenes/home/calendario.ico"> Salida <input type="text" name="fecha"placeholder="fecha de salida"></li>
      <li class="item"><img class="icon" src="../imagenes/home/calendario.ico"> Regreso <input type="text" name="fecha"placeholder="fecha de regreso"></li>
      <li class="item"><img class="icon"src="../imagenes/home/usuario.ico"> Usuarios <input type="number" name="numero" id="numero"placeholder="Cuantos son"></li>
      <li class="item"><form action="#" method="get"><button class="busqueda" type="submit">Buscar<img class="lupa" src="../imagenes/home/lupa.ico"></button></form></li>
    </form>


   <div class="destinos">

    <div class="nuevo">
      <h1><b>Nuevo<b></h1>
        <h2>Bahamas</h2>
      <img src="/imagenes/home/Bahamas.jpg">
      <p>Las Bahamas, un país del Caribe, son un archipiélago caracterizado por sus corales en el océano Atlántico. Entre sus más de 700 islas y cayos, hay algunos que están desiertos y otros que poseen complejos turísticos muy populares, como el Gran Bahama, y la isla Paradise, lugar de muchos hoteles de gran nivel.</p>
    </div>
  
   <div class="nuevo">
     <h1><b>Nuevo<b></h1>
      <h2>Sint Maarten</h2>
      <img src="/imagenes/home/sanmaarten.jpeg">
      <p></p>
    </div>
  
    <div class="nuevo">
      <h1><b>Nuevo<b></h1>
        <h2>Curacao</h2>
      <img src="/imagenes/home/curacao.jpg">
      <p></p>
    </div>
  
    <div class="nuevo">
      <h1><b>Nuevo<b></h1>
        <h2>Barbados</h2>
      <img src="/imagenes/home/Barbados.jpg">
      <p></p>
    </div>
  
   </div>

  </section> 
  
  <section class="fondo">
  
    <div class="medio">
      <img src="../imagenes/mediodepago/master.png" alt="" srcset="">
    </div>
   
    <div class="medio">
      <img src="../imagenes/mediodepago/naranjatarjeta.jpeg" alt="" srcset="">
   </div>

    <div class="medio">
      <img src="../imagenes/mediodepago/tarjeta-maestro.jpg" alt="" srcset="">
    </div>

    <div class="medio">
       <img src="../imagenes/mediodepago/visa.png" alt="" srcset="">
    </div>

                
  </section>   







<!-- 
 
   
 <div class="informacion">

  <div class="info">
    <img class="carta" src="/public/imagenes/home/carta.ico">
    <h1>Recibe los ultimas ofertas</h1>
    <span>Suscribase hoy y enterate de primero de nuestras promociones de tarifas y destinos.</span>
    <button class="clientes" type="submit" h><img class="flechas" src="/public/imagenes/home/flecha-derecha.png"><a href="viajaralmundo@gmail.com" title="Gmail" target="_blank"</button>
  </div>
  
   <div class="info">
    <img class="carta" src="/public/imagenes/home/personal.ico">
    <h1>Atencion al cliente</h1>
    <span>Comunicacion de manera facil y segura, para poder responder sus dudas y sus inquietudes.</span>
    <img class="flechas" src="/public/imagenes/home/flecha-derecha.png"><a href="1160873024">
   </div>

 </div>
 


 <div class="chekin">

  <div class="infochekin">
    <img src="/public/imagenes/home/check-in.png">
    <h1>Preparate para viajar.</h1>
    <p class="parafos">Sigue estas recomendaciones para hacer de tu proximo 
       vuelo una experiencia agradable</p>
  </div>

  <div class="conteychekin">

    <div> 
      <img class="imagchekin" src="/public/imagenes/home/celular.jpg">
      <div class="tex">
        <h2 >fghjkolñfghjklñkjhg</h2> 
        <p class="parafos">sdfghjkkljhgsfdrtyu</p>
      </div>
    </div>

    <div> 
      <img class="imagchekin" src="/public/imagenes/home/celular.jpg">
      <div class="tex">
        <h2 >fghjkolñfghjklñkjhg</h2> 
        <p class="parafos">sdfghjkkljhgsfdrtyu</p>
      </div>
    </div>
    
  
 </div>
-->

<%- include('./partials/piedepagina.ejs') %>  

</main>
</body>
</html>