<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion</title>
    <link rel="stylesheet" href="/public/css/informacion.css">
</head>
<body>
    <main>

        <iframe id="narvar" src="/views/Navhome.html"frameborder="0"></iframe>  
        

        <br><br> <br><br>

        <section class="indice">

            <h1>Indice</h1>

            <ul> <!-- Lista ordenada --> 
                <li class="item"><a href="#Equipaje">Equipaje</a></li>
                <li class="item"><a href="#Mascotas">Mascotas</a></li>
                <li class="item"><a href="#Traslado">Traslado</a></li>
                <li class="item"><a href="#Conexion">Vuelos con conexion</a></li>
            </ul>

        </section>

        <section class="texto">
    

            <div id="Equipaje">
                <h2> Equipaje</h2>

                <h3>Equipaje en cabina o de mano:</h3>
                <p>El equipaje de mano (mochila grande o maleta pequeña) no puede ser mayor de 56 x 46 x 25cm / 22 "x18 "x10" y no puede pesar más de 12kg.
                    El equipaje que supere estos límites de peso y tamaño será registrado en bodega, ya que tendra que pagar $30,,ya que no cabe en nuestros compartimentos superiores.
                </p>

                <h3>Equipaje en bodega:</h3>
                <p>Las maletas en bodega (maletas o cajas) no pueden ser mayores de 158cm/62".   
                    
                    El peso incluido es de 20 kg por maleta. Se puede comprar peso adicional hasta un máximo de 32 kg por maleta.
                    Pueden comprar hasta 3 maletas en bodega por vuelo en línea o a través de nuestro servicio de atención al cliente.
                </p>
                <table> <!-- Contenedoras de la tabla -->
      
                    <tr> <!-- fila -->
            
                        <th>Primer equipaje de Bodega</th> <!-- encabezado -->
                        <th>Segundo equipaje de Bodega</th> <!-- encabezado -->
                        <th>Tercer equipaje de Bodega</th> <!-- encabezado -->
                        
                    </tr>
                    <tr> <!-- fila -->
                       
                        <td>Desde $20</td> <!-- celdas -->
                        <td>Desde $40</td> <!-- celdas -->
                        <td>Desde $60</td> <!-- celdas -->
                    </tr>
                </table>

                <h3> Artículo personal: </h3>
                <p>Llevar un pequeño artículo personal (mochila, cartera, mochila de computadora) en la cabina, con un tamaño no mayor de 15 "x9 "x7"/40x25x20cm y un peso no mayor de 6kg.
                    Los objetos personales deben colocarse bajo el asiento del pasajero delantero durante el vuelo, excepto los pasajeros sentados en la primera fila, que deben colocar todo el equipaje en el compartimento superior.
                </p>


            </div>

            <div id="Mascotas">
                <h2> Mascota</h2>

                <p>Solo aceptamos un máximo de un (1) animal por pasajero abordo, el cual debe contar con toda la documentación requerida, quedando el control total del comportamiento del animal en todo momento a responsabilidad del pasajero. </p>
                <p> El aeropuerto, la unidad de control animal y la aerolínea se reservan el derecho de no permitir el abordaje de cualquier animal si el mismo tiene menos de 8 semanas de nacido, si es considerado parte de la lista de razas peligrosas, agresivas o branquicéfalas, si la documentación requerida en el origen o destino no está o no es la adecuada, si determinamos que representa un riesgo para el confort y la seguridad de otro pasajero o tripulación en cabina, o si el animal está fuera de las dimensiones establecidas en la siguiente sección.
                    Para más información, favor visita nuestras condiciones de trasporte.</p>
            
                <p>Toda mascota debe debe viajar en un cabina de carga no mayor de 15”x9”x7” / 40x25x20cm. La combinación de peso entre la mascota y la cabina de carga debe ser menor de 10 kg.
                    es obligatorio presentar en el check-in del aeropuerto el Formulario de Transporte Aéreo de Animales de Servicio del DOT, que puede <a href="https://www.transportation.gov/sites/dot.gov/files/2024-09/Service%20Animal%20-%20Air%20Transportation%20Form%20FINAL%209.20.24.pdf">encontrar aquí</a>. 
                </p>

            </div>

            <div id="Traslado">
                <h2>Traslado</h2>

                <p>Ofrecemos una gama completa de servicios de traslado de pasajeros para garantizar que llegues a tu destino de manera cómoda, segura y puntual. Ya sea que necesités un taxi a Ezeiza, un taxi a Aeroparque, o un traslado de larga distancia, nuestro equipo está listo para asistirte. </p>
            </div>

            <div class="conexion" id="Conexion">
                <h2>Vuelos con conexion</h2>
                <h3>Paso 1:</h3>
                <p>Llegada al Aeropuerto</p>
                <h3>Paso 2:</h3> 
                <p>Ten tu pasaporte y documentos migratorios listos.</p>
                <h3>Paso 3:</h3>
                <p>Sigue las señales hacia el control de seguridad.</p>
                <h3>Paso 4:</h3> 
                <p>No es necesario recoger tu equipaje , se entregará automáticamente en tu destino final.</p>
                <h3>Paso 5:</h3> 
                <p>Después de pasar el control de seguridad, dirígete a la puerta de embarque. El proceso de embarque comienza una hora antes de la salida programada.</p>
            </div>

        </section>

        <iframe id="pie" src="/views/piedepagina.html"frameborder="0"></iframe>  

    </main>
   
</body>
</html>