<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion</title>
    <link rel="stylesheet" href="/css/info.css">
</head>
<body>
    <main>

        <section class="indice">

            <h1>Indice</h1>

            <ol> <!-- Lista ordenada -->
                <li>Beiculo</li>
                <li>Balija</li>
                <li>Mascotas</li>
                <li>Traslado</li>
            </ol>

        </section>

        <section>
        
            <div>
                <h2> 1) Beiculo</h2>

                <p></p>
            </div>

            <div>
                <h2> 2) Balija</h2>

                <p></p>
            </div>

            <div>
                <h2> 3) Mascota</h2>

                <p></p>
            </div>

            <div>
                <h2> 4) Traslado</h2>

                <p></p>
            </div>

        </section>
    </main>
    
</body>
</html>