<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envarque</title>
    <link rel="stylesheet" href="/public/css/Subida-de-datos-envarque.css">
</head>
<body>
<main>

    <iframe id="narvar" src="/views/Navhome.html"frameborder="0"></iframe>   

    <br><br> <br><br>
    
    <h1>Subida de datos al panel de Envarcacion</h1>

    <section id="formulario">

        <form method="post">
    
            <label for="hora">Hora: </label>
            <input type="time" name="hora"><br><br>
        
            <label for="aerolinea"> Aerolinea: </label>
            <input type="image" name="aerolinea"><br><br>
        
            <label for="destino"> Destino: </label>
            <input type="text" name="destino"><br><br>
        
            <label for="vuelo"> Vuelo: </label>
            <input type="text" name="vuelo"><br><br>
        
            <label for="puerta"> Puerta: </label>
            <input type="text" name="puerta"><br><br>
        
            <label for="observaciones"> Obserbaciones: </label>
            <input type="text" name="observaciones"><br><br>
        
            <button id="boton" type="submit" value="enviar">Enviar </button>
        
        </form>


    </section>

    <section id="informe">
        <div>

            <p class="princ">Para garantizar que tengamos registros precisos, le solicitamos que revise y actualice su información personal. Esto es crucial.</p>
            <p>Por favor verifique los datos antes de enviarlos.</p>
            <p>Una vez enviado seran subidos en el tablero de vuelos.</p>
        </div>

        <div>
            <ul>
                <li>Revise sus datos actuales.</li>
                <li>Realice las actualizaciones necesarias y guarde los cambios</li>
            </ul>
        </div>

    </section>

</main>

<iframe id="pie" src="/views/piedepagina.html"frameborder="0"></iframe>  

</body>
</html>