* {
  margin: 0px;
  padding: 0px;
}

iframe {
  display: flex;
  position: absolute;
}

#pie {
  width: 100%;
}

#narvar {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("/public/imagenes/check-in/cielo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 130em;
  margin: 0%;
  padding: 0%;
}

.avion {
  position: relative;
  width: 150px;
  height: 100px;
  left: 0%;
  background-image: url("/public/imagenes/check-in/Avion.png");
  background-size: cover;
  animation: volar 5s infinite;
}

@keyframes volar {
  0% {
    opacity: 1;
  }
  25% {
    transform: translateX(300px) rotate(-10deg) scale(1.2);
  }
}
label {
  font-weight: 700;
  font-size: 23px;
  color: aliceblue;
  margin-left: 10%;
}

input {
  color: rgb(101, 97, 97);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

button {
  margin-left: 20px;
  width: 18%;
  height: 30px;
  color: black;
  font-weight: 800;
}

.volver {
  background-color: rgb(228, 204, 231);
  height: 40px;
  width: max-content;
  padding: 5px;
  border-radius: 6%;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(184, 2, 187);
  margin: 0 auto 30px;
  margin-left: 40px;
  font-size: 13px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: blueviolet;
}

.mensaje {
  margin-top: 4%;
  margin-left: 5%;
  color: rgb(0, 0, 0);
  font-family: "Gill Sans";
  font-size: 18px;
  font-weight: 800;
}

.contenedor {
  margin: 0%;
  padding: 0%;
}

.ala {
  width: 90px;
  height: 500px;
  transform: rotate(90deg); /* rota la imagenes */
  margin: 0%;
  margin-left: 40%;
}

.trasera {
  padding-bottom: 0px;
  height: 270px;
  padding-top: 0%;
  margin-left: 60%;
}

.trompa {
  margin: 0px;
  padding-bottom: 30px;
  height: 180px;
  margin-left: 40%;
}

.asientos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

.fila {
  display: flex;
  margin-bottom: 0%;
}

.asiento {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  margin: 8px; /* Espacio entre las alas y los asientos */
  border-radius: 5px;
  cursor: pointer;
}

.asiento.seleccionado {
  background-color: #0f0;
}

.asiento.ocupado {
  background-color: #f00;
  cursor: not-allowed;
}

@media (min-width: 330px) and (max-width: 499px) {
  .avion {
    width: 150px;
    height: 100px;
    animation: volar-small 5s infinite;
  }
  @keyframes volar-small {
    0% {
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
    25% {
      transform: translateX(100px) rotate(-10deg);
    }
    50% {
      transform: translateX(130px) rotate(0deg) scale(1.2);
    }
    75% {
      transform: translateX(180px) rotate(-10deg);
    }
    90% {
      opacity: 1;
    }
  }
  body {
    height: 107em;
  }
  label {
    font-size: 30px;
    margin-left: 3%;
  }
  input {
    width: 70px;
    height: 22px;
    margin-top: 10px;
    margin-left: 30%;
    font-size: 22px;
  }
  button {
    margin-left: 50%;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 19px;
    width: 40%;
    height: 40px;
  }
  .mensaje {
    margin-left: 10%;
    font-size: 26px;
  }
  .volver {
    height: 45px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-width: 5px;
    font-size: 16px;
  }
  .contenedor {
    margin-left: 20%;
  }
  .ala {
    width: 90px;
    height: 330px;
    margin-left: 38%;
  }
  .trasera {
    height: 200px;
    margin-left: 54%;
  }
  .trompa {
    padding-bottom: 0px;
    height: 170px;
    margin-left: 45%;
  }
  .asiento {
    margin: 4px; /* Espacio entre las alas y los asientos */
  }
}
@media (min-width: 501px) and (max-width: 800px) {
  .avion {
    width: 200px;
    height: 100px;
  }
  body {
    height: 131em;
  }
  label {
    font-size: 25px;
    margin-left: 8%;
  }
  input {
    font-size: 23px;
  }
  button {
    width: 20%;
    font-size: 16px;
    height: 30px;
  }
  .mensaje {
    font-size: 19px;
  }
  .volver {
    height: 48px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 11px;
    border-width: 5px;
    font-size: 17px;
  }
  .contenedor {
    margin: 0%;
  }
  .ala {
    width: 100px;
    height: 500px;
    margin-left: 40%;
  }
  .trasera {
    height: 290px;
    margin-left: 50%;
  }
  .trompa {
    padding-bottom: 0px;
    height: 190px;
    margin-left: 40%;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .avion {
    width: 300px;
    height: 200px;
  }
  @keyframes volar {
    0% {
      opacity: 1;
    }
    25% {
      transform: translateX(300px) rotate(-10deg) scale(1.2);
    }
    50% {
      transform: translateX(500px) rotate(0deg) scale(1.2);
    }
  }
  body {
    height: 157em;
  }
  label {
    font-size: 30px;
    margin-left: 15%;
  }
  input {
    font-size: 23px;
    width: 90px;
    height: 28px;
  }
  button {
    font-size: 23px;
    width: 20%;
    height: 40px;
  }
  .mensaje {
    font-size: 22px;
    margin-left: 20%;
  }
  .volver {
    height: 50px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 13px;
    border-width: 7px;
    font-size: 18px;
  }
  .ala {
    width: 180px;
    height: 600px;
    margin-left: 40%;
  }
  .trasera {
    height: 290px;
    margin-left: 50%;
    padding: 0%;
  }
  .trompa {
    padding-bottom: 0px;
    height: 190px;
    margin-bottom: 20px;
    margin-left: 40%;
  }
  .asiento {
    width: 45px;
    height: 40px;
    background-color: #605858;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .avion {
    width: 300px;
    height: 200px;
  }
  @keyframes volar {
    0% {
      opacity: 1;
    }
    25% {
      transform: translateX(300px) rotate(-10deg) scale(1.2);
    }
    50% {
      transform: translateX(500px) rotate(0deg) scale(1.2);
    }
    75% {
      transform: translateX(600px) rotate(-10deg);
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateX(1000px) translateY(0) rotate(0deg);
      opacity: 0;
    }
  }
  label {
    font-size: 50px;
    margin-left: 15%;
  }
  input {
    font-size: 33px;
  }
  body {
    height: 174em;
  }
  button {
    font-size: 36px;
    width: 20%;
    height: 70px;
  }
  .mensaje {
    font-size: 36px;
    margin-left: 20%;
  }
  .volver {
    height: 55px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 13px;
    border-width: 7px;
    font-size: 22px;
  }
  .ala {
    width: 200px;
    height: 600px;
    margin-left: 40%;
  }
  .trasera {
    height: 300px;
    margin-left: 50%;
    padding: 0%;
  }
  .trompa {
    padding-bottom: 0px;
    height: 200px;
    margin-left: 42%;
    margin-bottom: 40px;
  }
  .asiento {
    width: 60px;
    height: 50px;
    background-color: #605858;
  }
}

/*# sourceMappingURL=butaca.css.map */
