*{
    margin: 0px;
    padding: 0px;
   
}

iframe{
    display: flex;
    position: absolute;
}

#pie{
    width:100%;
}

#narvar{
    width: 100%;
    height: 100%;
    
}

.fonlis2{
    background-color: rgb(218, 216, 216);
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right:10%;
}

.icon{
    margin-top: 17px;
    height: 25px;
    width: 20px;
    padding-right:8px;
    padding-left: 5px;
}  

.item{
    text-align: 5px;
    font-size: 15px;
    text-decoration: solid;
    color:rgb(30, 29, 29);
    font-style: oblique;
    padding-right:5px;
    list-style: none;
}


input{
    width: 100px;
}

.busqueda{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 14px;
    width: 70px;
    height: 30px;
    width: max-content;
    border-color: rgb(171, 228, 245); 
    background-color: rgb(176, 234, 250); 
}

.lupa{
    height: 18px;
    width: 20px;
    padding-left:5px; 
}


.destinos{
    background-color:rgba(197, 125, 242, 0.637);
    display:flexbox;
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left:22px;
}


.nuevo{                                          
    background-color:#7cf34cbe;
    font-family:Georgia;
    text-align: center;
    display: inline-block;
    border-radius: 14px;
    width: 43%;
    height: auto ;
    margin-left: 19px;
    margin-bottom: 15px;
    margin-top: 15px;
}


.nuevo p{                                        
    text-align:center;
    font-style: italic;
    text-decoration: solid;
    background-color: beige;
    color: rgb(91, 46, 0);
    font-size: 11px;
    padding-top: 6px;
   

}

.nuevo h1{                                        
    text-align: center;
    font-style:oblique;
    block-size: 30px;
    background-color: rgba(253, 253, 253, 0.769);
    color:rgb(41, 60, 233);
    font-size: 24px;

}

.nuevo h2{
    padding-top: 3px;
    padding-bottom: 3px;
    block-size: 22px;
    font-size: 19px;
}

.nuevo img{                                    
    width: 80%;
    height: auto ; 
    padding: 6px;
}

/* medios de pago */
.fondo{
    background-color:  rgba(193, 244, 242, 0.813);
    width: 90%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.medio img{

    width: 70%;
    height: 50%;
    margin-top:22px ;
    margin-left:16% ;
}

.informacion{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 30px;
    
}

.plantillainfo{

    background-color: rgba(217, 217, 231, 0.569);
    height:150px ;
    width: 210px ;
    box-sizing: border-box;
    border-radius: 4%;
    border-style: solid;
    border-width:2px;
    border-color: darkseagreen;
    padding-left: 6px;
    padding-bottom: 6px;
    

}

.tituloinfo{
   display: flex;
   justify-content: space-between;
   margin-left: 10px;
}

.tituloinfo img{
    width: 45px;
}

.informacion h1{
    font-size: 15px;
    font-family: cursive;
    text-decoration: underline;
    font-weight: 500;
    margin-right: 20px;
    margin-top: 10px;
    padding-bottom: 5px;
}

.plantillainfo span{
    font-size: 13px;
    padding-bottom: 10px;
}

.plantillainfo a{
    display: flex;
    justify-content: space-between;
}

.flechas{
    width:40px ;
    height: 30px;
    margin-left: 70%;
}

.chekin{
    width: 100%;
    height: auto;
    padding-left: 20px;
    display: flex;

}

.infochekin{
   width: 200px;
   height: 300px;

}

.infochekin img{
    width:100px;
    height:130px;
    padding-left: 50px;
}

.infochekin h1{
   font-size: 20px;
   text-align: center;
}

.infochekin p{
    padding-top: 10px;
    font-size: 13px;
    margin-left: 6px;
    margin-right: 6px;
}

.conteychekin{
    width: 270px;
    height: 300px;

    

}

.segtitulocheck{
    display: flex;
    justify-content: space-around;
    box-shadow: 5cm;
    padding-left: 20px;
}

.segtitulocheck img{
    width: 15%;
    height: 10%;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 5px;
}

.segtitulocheck h2{
    padding-top: 20px;
    padding-right: 40px;
    font-size: 15px;
}

.parafos{
    padding-top: 5px;
    font-size:12px;
    padding-left: 5px;
    padding-bottom: 3px;
}



@media (min-width: 501px) and (max-width: 800px) {

    .fonlis2{
        margin-left: 10%;
        margin-right:0%;
    }
    
    .icon{
        margin-top: 13px;
        height: 23px;
        width: 23px;
        padding-right:8px;
        padding-left:7px;
    }  
    
    .item{
        text-align: 15px;
        font-size: 16px;
        text-decoration: solid;
        font-style: oblique;
        padding: right 3px;
        list-style: none;
    }
    
    
    input{
        width: 150px;
    }
    
    .busqueda{
        margin-top: 20px;
        margin-bottom: 15px;
        width: 70px;
        height: 30px;
        font-size: 17px;
        width: max-content;
        border-color: rgb(171, 228, 245); 
        background-color: rgb(176, 234, 250); 
    }
    

    .lupa{
        height: 20px;
        width: 22px;
        padding-left:6px; 

    }


  
    .destinos{
        margin-top: 30px;
        margin-left:40px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    
    .nuevo{                                          
        width: 42%;
        height: auto ;
        margin-left: 23px;
        margin-bottom: 13px;
        margin-top: 13px;
    }
    
    
    .nuevo p{                                        
        font-size: 12px;
    
    }
    
    .nuevo h1{                                        
        font-size: 25px;
    
    }
    
    .nuevo h2{
        padding-top: 5px;
        padding-bottom: 5px;
        block-size: 23px;
        font-size: 20px;
    }
    
    .nuevo img{                                    
        width: 90%;
        height: auto; 
        padding: 10px;
    }
    

    .chekin{
        padding:8%;
        padding-bottom: 30px;
        padding-top: 30px;
        width: max-content;
    }
    
    .infochekin{
       width: 210px;
       height: 300px;
    }
    
    .infochekin img{
        width:130px;
        height:130px;
        padding-left: 30px;
    }
    
    .infochekin h1{
       font-size: 21px;
    }
    
    .infochekin p{
        padding-top: 10px;
        font-size: 14px;
        margin-left: 4px;
        margin-right: 4px;
    }
    
    .conteychekin{
        width: 260px;
        height: 300px;     
    }
    
    .segtitulocheck{
        padding-left: 10px;
    }
    
    .segtitulocheck img{
        width: 15%;
        height: 10%;
        padding-top: 4px;
        padding-bottom: 5px;
        padding-right: 5px;
    }
    
    .segtitulocheck h2{
        padding-top: 7px;
        padding-right:25px;
        font-size: 16px;
    }
    
    .parafos{
        padding-top: 3px;
        font-size:13px;
        padding-left: 5px;
        padding-bottom: 6px;
    }

    .informacion{
        margin-top: 5%;
        margin-right:30px;
        margin-left: 60px;
    }
    
    .plantillainfo{
        height:190px ;
        width: 210px;
        padding-left: 5px; 
    }
    
    .tituloinfo{
       margin-left: 13px;
    }
    
    .tituloinfo img{
        padding-top:10px;
        width: 46px;
    }
    
    .informacion h1{
        font-size: 16px;
        font-weight: 700;
        margin-right: 5px;
        margin-top: 13px;
        padding-bottom: 7px;
    }
    
    .plantillainfo span{
        font-size: 14px;
        padding-bottom: 15px;
        
    }
    
    .flechas{
        width:40px ;
        height: 33px;
        margin-left: 70%;
    }

   /* medios de pago */
    
   .medio img{
       width: 80%;
       height: 60%;
       margin-top:22px ;
       margin-left:12% ;
    }

  
}



@media (min-width: 801px) and (max-width: 1200px) {
    
    
    .icon{
        margin-top: 17px;
        height:40px;
        width: 34px;
    }  
    
    .item{
        font-size: 24px;
        padding: right 25px;
    }
    
    
    input{
        width: 120px;
        font-size: 16px;
    }
    
    .busqueda{
        margin-top: 25px;
        margin-bottom: 20px;
        width: 150px;
        height: 40px;
        font-size: 22px;
        padding-left: 5px;
    }
    

    .lupa{
        height: 22px;
        width: 26px; 
       
    }


    .destinos{
        margin-top: 40px;
        margin-left:40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    
    .nuevo{                                          
        width: 46%;
        height: auto ;
        margin-left: 18px;
        margin-bottom: 18px;
        margin-top: 3px;
    }
    
    
    .nuevo p{                                        
        font-size: 15px;
    
    }
    
    .nuevo h1{                                        
        font-size: 27px;
        block-size: 36px;
    }
    
    .nuevo h2{
        padding-top: 8px;
        padding-bottom: 4px;
        block-size: 25px;
        font-size: 22px;
    }
    
    .nuevo img{                                    
        width: 95%;
        height: auto; 
        padding: 8px;
    }

   /* medios de pago */
    .fondo{
       width: 90%;
       height: 80%;
       margin-left: 3%;
  
    }

    .medio img{

      width: 70%;
      height: 70%;

    }


    .chekin{
        padding-top: 5%;
        padding-bottom: 3%;
        width: 80%;
        padding-left:15%;
    }
    
    .infochekin{
       width: 250px;
       height: 370px;
    }
    
    .infochekin img{
        width:170px;
        height:160px;
        padding-left: 40px;
    }
    
    .infochekin h1{
       font-size: 24px;
    }
    
    .infochekin p{
        font-size: 16px;

    }
    
    .conteychekin{
        width: 290px;
        height: 370px;     
    }
    
    .segtitulocheck{
        padding-left: 13px;
    }
    
    .segtitulocheck img{
        width: 18%;
        height: 10%;
        padding-top: 10px;
        padding-bottom: 3px;
    }
    
    .segtitulocheck h2{
        padding-top: 20px;
        padding-right:0px;
        font-size: 19px;
    }
    
    .parafos{
        padding-top: 8px;
        font-size:15px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 6px;
    }

    .informacion{
        margin-right: 10%;
        margin-left: 5%;
        
    }
    
    .plantillainfo{
        height:200px ;
        width: 300px;
        padding-left: 10px; 
    
    }
    
    .tituloinfo{
       margin-left: 10px;
    }
    
    .tituloinfo img{
        padding-top: 10px;
        width: 60px;
    }
    
    .informacion h1{
        font-size: 20px;
        font-weight: 700;
        margin-right: 30px;
        margin-top: 20px;
        padding-bottom: 8px;
    }
    
    .plantillainfo span{
        font-size: 18px;
    }
    
    .flechas{
        width:48px ;
        height: 40px;
        margin-left: 70%;
    }


}  


@media (min-width: 1201px) and (max-width: 1400px) {
    
    .icon{
        margin-top: 17px;
        height:45px;
        width: 36px;
    }  
    
    .item{
        font-size: 27px;
    }
    
    
    input{
        width: 170px;
        font-size: 22px;
    }
    
    .busqueda{
        font-size: 25px;
        padding-left: 6px;
        height: 50px;
    }
    

    .lupa{
        height: 24px;
        width: 30px;
        padding-left: 9px;
        padding-right: 9px;
    }

    .destinos{
        margin-top: 50px;
        margin-left:60px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    
    .nuevo{                                          
        margin-left: 50px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    
    .nuevo p{                                        
        font-size: 17px;
    
    }
    
    .nuevo h1{                                        
        font-size: 30px;
        block-size: 40px;
        
    }
    
    .nuevo h2{
        padding-top: 8px;
        padding-bottom: 4px;
        block-size: 25px;
        font-size: 22px;
    }
    
    .nuevo img{                                    
        width: 95%;
        height: auto; 
        padding: 8px;
    }

    
    /* medios de pago */
    .fondo{
        width: 90%;
        height: 80%;
        margin-left: 3%;
      
    }
    
    .medio img{
    
        width: 70%;
        height: 70%;
  
    }


    .chekin{
        width: 60%;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left:20%;
    }
    
    .infochekin{
       width: 320px;
       height: 430px;
    }
    
    .infochekin img{
        width:200px;
        height:200px;
        padding-left: 50px;
    }
    
    .infochekin h1{
       font-size: 30px;
    }
    
    .infochekin p{
        font-size: 20px;

    }
    
    .conteychekin{
        width: 370px;
        height: 430px;     
    }
    
    .segtitulocheck{
        padding-left:12px;
    }
    
    .segtitulocheck img{
        width: 17%;
        height: 10%;
        padding-bottom: 3px;
        padding-top: 5;
    }
    
    .segtitulocheck h2{
        padding-top: 20px;
        padding-right:30px;
        font-size: 23px;
    }
    
    .parafos{
        padding-top: 4px;
        font-size:17px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 3px;
    }


    .informacion{
        margin-right: 15%;
        margin-left: 10%;
        
    }
    
    .plantillainfo{
        height:225px ;
        width: 400px;
        padding-left: 20px; 
    
    }
    
    .tituloinfo{
       margin-left: 15px;
    }
    
    .tituloinfo img{
        padding-top: 15px;
        width: 80px;
    }
    
    .informacion h1{
        font-size: 27px;
        font-weight: 700;
        margin-right: 35px;
        margin-top: 40px;
        padding-bottom:12px;
    }
    
    .plantillainfo span{
        font-size: 20px;
    }
    
    .flechas{
        width:48px ;
        height: 40px;
        margin-left: 70%;
    }


}