.titulofooter{
    font-size: 20px;
    text-align: center;
    margin-bottom:10px ;
}

.footer-servicio-social{
    background-color: rgb(209, 209, 209);
    width: 100% ;
    margin-bottom: 20px;
}

.iten{
    list-style: none;                    
    padding-bottom: 10px ;
}

.info{
    display: flex; 
    justify-content:space-between;
    padding-left: 20px;
    margin-right: 400px; 
    margin-left: 160px;
}


.info img{
    height: auto;
    width: 25px;
    padding: 2px;
}

@media (min-width:330px) and (max-width:499px){  

    .titulofooter{
        padding-top: 10px;
        font-size: 17px;
    }
    
    .info{
        display: flex; 
        justify-content:center;
        padding-left: 0px;
        margin-right: 0px; 
        margin-left: 0px;
        margin-bottom: 5px;
    }
    
    
    .info img{
        height: auto;
        width: 30px;
        padding: 2px;
    }

}


@media (min-width: 501px) and (max-width: 800px) {

    .titulofooter{
        text-align: center;
        font-size: 22px;
    } 


    .iten{
        list-style: none;                       
        padding-bottom: 10px ;
    }

    .info img{
        width: 32px;
        height: auto;
        padding: 2px;
    }
    
    .info{ 
        display: flex; 
        justify-content:center;
        padding-left: 0px;
        margin-right: 0px; 
        margin-left: 0px;
    }

}

@media (min-width: 801px) and (max-width:1000px){  

    .titulofooter{
        font-size: 24px;
    }

    .iten{                      
        font-size: 13px;
        padding-bottom: 10px ;
    }


    .info img{
        height: auto;
        width: 33px;
        padding: 2px;
    }
    
    .info{
        display: flex; 
        justify-content:space-between; 
        padding-left: 140px;
    }

}

@media (min-width: 1001px) and (max-width:1200px){  /* escritorio hecho*/
    
.titulofooter{
    font-size: 23px;
    margin-bottom: 20px;
}

.iten{                      
    font-size: 16px;
    padding-bottom: 10px ;
}

.info img{
    height: auto;
    width: 40px;
    padding: 2px;
}

.info{
    display: flex; 
    justify-content:space-between; 
    margin-right: 400px ;
    margin-bottom: 15px;
    margin-left: 350px;

}

}

@media (min-width: 1201px) and (max-width:1400px){   /* escrirorio monitor grande listo*/ 
    
    .titulofooter{
        font-size: 25px;
        margin-bottom: 20px;
    }
    
    .iten{                      
        font-size: 17px;
        padding-bottom: 10px ;
    }

    .footer-servicio-social{
        width: 100% ;
        margin-bottom: -20px;
    } 

    .info img{
        height: auto;
        width: 50px;
        padding: 2px;
    }

    .info{
        display: flex; 
        justify-content:space-between; 
        margin-right: 400px ;
        margin-bottom: 15px;
        margin-left: 350px;

    }

}

